.widget {
    background-color: rgb(35, 48, 68);
    padding: 20px;
    height: 170px;
}

.widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}
